PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3307
DB_NAME=kandypack
DB_USER=kp_app
DB_PASSWORD=Group23database
DB_ADMIN_USER=root
DB_ADMIN_PASSWORD=Sem3_projectDB_GR23
JWT_SECRET=8e256a12082396af4791ff3891558fb2c862716b3924a32038c13ce0c819f131
DEMO_PASSWORD=abcdef123456
SEED_DEMO=NO
DATABASE_URL=mysql://kp_app:Group23database@127.0.0.1:3307/kandypack